export COSMO_API_KEY="eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhMWEzYTRmMC04MjkxLTQ5MWItYWNlYS1iNzQwYmIxZTUzNmIiLCJmZWRlcmF0ZWRfZ3JhcGhfaWQiOiI2YjE1YjIwMC04NzA5LTQwYTItYWNmNS1kMWNhODA2MTM2OWEiLCJhdWQiOiJjb3NtbzpncmFwaC1rZXkiLCJvcmdhbml6YXRpb25faWQiOiJhYmVlN2UzZC05YzcyLTQ2MmMtOGNlNi0zNjk5MzU2NTJhMGUiLCJpYXQiOjE3MzI3OTg2MDJ9.IJhbmWxNV6HZ_G1tv4f-J8-rqgk8Ym0u2hUCjLPQMxs"
export COSMO_NAMESPACE="production"
export COSMO_GRAPH="api"
export PORT=8080

