---
import type { CollectionEntry } from "astro:content";
import { css } from "../../../styled-system/css";

type Props = {
	series: CollectionEntry<"series">;
};

const { series } = Astro.props;

const textStyle = css({ fontSize: 'xl', fontWeight: 'semibold', color: 'colorPalette.default' });
const linkStyle = css({ textDecoration: 'underline', _hover: { textDecoration: 'none' } });
---

<p class={textStyle}>
	Part of the series: <a
		class={linkStyle}
		href={`/series/${series.id}`}>{series.data.title}</a
	>
</p>
