---
import ThemeScript from "@/components/theme/ThemeScript.astro";
import "@/styles/global.css";

interface Props {
	title: string;
	description?: string;
	noindex?: boolean;
}

const { title, description, noindex } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description || title} />
    {noindex && <meta name="robots" content="noindex,follow" />}
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="theme-color"
      content="#f8f5ef"
      data-light-color="#f8f5ef"
      data-dark-color="#1b1b23"
    />
    <ThemeScript />
  </head>
  <body class="h-full w-full text-primary-content">
    <slot />
  </body>
</html>
