kind: github
version: v3
metadata:
  name: github
spec:
  client_id: {{ pillar['teleport']['github']['client_id'] }}
  client_secret: {{ pillar['teleport']['github']['client_secret'] }}
  redirect_url: https://{{ pillar['teleport']['public_addr'].split(':')[0] }}/v1/webapi/github/callback
  display: GitHub
  teams_to_roles:
    - organization: {{ pillar['teleport']['github']['org'] }}
      team: {{ pillar['teleport']['github']['team'] }}
      roles:
{% for role in pillar['teleport']['github'].get('roles', ['access']) %}
        - {{ role }}
{% endfor %}
