version: v3
teleport:
  nodename: {{ grains['id'] }}
  data_dir: /var/lib/teleport
auth_service:
  enabled: true
  listen_addr: 0.0.0.0:3025
  cluster_name: {{ pillar['teleport']['cluster_name'] }}
  authentication:
    type: oidc
ssh_service:
  enabled: true
  labels:
    role: control-plane
proxy_service:
  enabled: true
  web_listen_addr: 0.0.0.0:443
  public_addr: {{ pillar['teleport']['public_addr'] }}
  acme:
    enabled: true
    email: {{ pillar['teleport']['acme_email'] }}
