name: rawkode-cloud-gitops-oci
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/rawkode-cloud-gitops-oci.yml
      - projects/rawkode.cloud/gitops/**
  workflow_dispatch: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
  packages: write
jobs:
  publish:
    name: publish-gitops-oci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Flux CLI
        run: curl -s https://fluxcd.io/install.sh | sudo bash

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push GitOps OCI artifact
        run: |
          flux push artifact oci://ghcr.io/rawkode-academy/rawkode-academy/gitops:latest \
            --path="./projects/rawkode.cloud/gitops" \
            --source="${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}" \
            --revision="${GITHUB_REF_NAME}@sha1:${GITHUB_SHA}"
